.card {
    background-color: var(--card-bg);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.description {
    line-height: 1.4;
}

.price {
    font-size: 1.2rem;
    font-weight: 700;
    color: #2e982e;
    background: var(--card-bg);
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    width: fit-content;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.catLabel {
    font-weight: 600;
}

.catList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.categoryItem {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 0.9rem;
    background-color: var(--btn-bg);
}

.image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}